In [249]:
import requests
import pandas as pd

In [250]:
url="https://api.covid19india.org/csv/latest/district_wise.csv"
covid19=requests.get(url)
url_content=covid19.content
csv_file = open('downloaded.csv', 'wb')
csv_file.write(url_content)
csv_file.close()
DistrictDf=pd.read_csv("downloaded.csv")

In [251]:
sumCols=df.columns
sumCols=sumCols[5:len(sumCols)]
StateDf=df.groupby(["State"])[sumCols].sum()

In [253]:
StateDf.head()

,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,Last_Updated
State,,,,,,,,,,
Andaman and Nicobar Islands,48,11,37,0,0,0,0,0,0,0.0
Andhra Pradesh,9372,4826,4435,111,0,443,310,128,5,0.0
Arunachal Pradesh,139,118,21,0,0,0,0,0,0,0.0
Assam,5586,2037,3522,9,3,0,0,0,0,0.0
Bihar,7808,1989,5767,52,0,143,6,136,1,0.0

In [252]:
DistrictDf.head()

,SlNo,State_Code,State,District_Key,District,Confirmed,Active,Recovered,Deceased,Migrated_Other,Delta_Confirmed,Delta_Active,Delta_Recovered,Delta_Deceased,District_Notes,Last_Updated
0,0,UN,State Unassigned,UN_Unassigned,Unassigned,7803,7803,0,0,0,-1295,-1295,0,0,NaN,NaN
1,1,AN,Andaman and Nicobar Islands,AN_Nicobars,Nicobars,0,0,0,0,0,0,0,0,0,NaN,NaN
2,2,AN,Andaman and Nicobar Islands,AN_North and Middle Andaman,North and Middle Andaman,1,0,1,0,0,0,0,0,0,NaN,NaN
3,3,AN,Andaman and Nicobar Islands,AN_South Andaman,South Andaman,35,3,32,0,0,0,0,0,0,NaN,NaN
4,0,AP,Andhra Pradesh,AP_Foreign Evacuees,Foreign Evacuees,337,285,52,0,0,7,7,0,0,NaN,NaN